$body-bg: hsl(210, 11%, 15%);
$body-color: hsl(0, 0%, 100%);
$primary: hsl(0, 100%, 64%);
$font-family-sans-serif: "Poppins", sans-serif;
@import "../node_modules/bootstrap/scss/bootstrap";

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

.hero-image-bg {
  background-color: hsl(0, 0%, 0%);
  background-image: url("../assets/abstract.jpg");
  background-size: cover;
}
.card {
  border: none;
}

.card-body {
  background-color: hsl(0, 0%, 11%);
}

.card-img,
.card-img-top {
  object-fit: cover;
  aspect-ratio: 1/0.7;
}
