.page__style {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: auto auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  &.intro {
    align-items: center;
  }

  .page__description {
    color: #ffffff;
    font-weight: 300;
    text-align: center;
    min-width: 70%;

    .btn_nav {
      &:focus,
      &:active {
        outline: none;
      }
    }
  }
}

// Animation class
.animate_content {
  animation: animate 3s ease;
}

@keyframes animate {
  10% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}
.fadeIn {
  z-index: 10;
}
