<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
				{% include nav.html %}
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:raymond.daugherty.jr@gmail.com">email</a></li>
	        		<li><a href="https://github.com/rldaugherty">github.com/rldaugherty</a></li>
				</ul>
			</footer>
		</body>
	</html>